streamlit
fastapi
uvicorn[standard]
pandas
numpy
plotly
python-dotenv
pydantic
pydantic-settings
sqlalchemy
scikit-learn
xgboost
spacy
nltk
sentence-transformers
transformers
torch
PyMuPDF
python-docx
pyarrow